profile = {
    "pk": {
        "S":"+<YOUR_E164_PHONE_NUMBER>"
    },
    "sk": {
        "S": "profile"
    },
    "email": {
        "S": "email@twilio.com"
    },
    "firstName": {
        "S": "<YOUR_FIRST_NAME>"
    },
    "lastName": {
        "S": "<YOUR_LAST_NAME>"
    },
    "pk1": {
        "S": "profile"
    },
    "sk1": {
        "S":"+<YOUR_E164_PHONE_NUMBER>"
    },
    "useCase": {
        "S": "<DEFAULT USE CASE restaurantOrderingUseCase | albertEinsteinUseCase | your-own-use-case>"
    }
};

console.log(JSON.stringify(profile));
